@font-face {
   font-family: 'superclarendon';
    src: url('superclarendon_italic-webfont.woff2') format('woff2'),
         url('superclarendon_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	background-color: blue;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	font-family: 'superclarendon';
}

p.text {
	font-size: 2.5vw;
	text-align: center;
	width: 32em;
}

div {
	top: 0;
	left: 0;
	text-transform: uppercase;
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

img.img {
	z-index: -1;
	position: fixed;
    top: -5;
    left: 0;
    width: 100%;
    height: auto;
    margin:0 0 0 0;
    -webkit-animation:spin 15s linear infinite;
    -moz-animation:spin 15s linear infinite;
    animation:spin 15s linear infinite;	
    filter: drop-shadow(0px 0px 5px white);

}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}