@font-face {
   font-family: 'walkway_expand_black';
    src: url('walkway_expand_black-webfont.woff2') format('woff2'),
         url('walkway_expand_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	background-color: red;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	font-family: 'walkway_expand_black';
}

p.text {
	font-size: 1em;
	text-align: left;
	width: 34em;
	line-height: 1.2em;
}

div {
	background-color: red;
	top: 15%;
	left: 5%;
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
}

